<h2>Universo</h2>
<img [src]="sol" width="1000" [alt]="altSol"/>
<p>sistema solar que é o Sol</p>
<p> O sol que esquenta a terra , e faz brilhar o dia, clarea o ceu, dos planetas tornando as cores ainda melhors
    e deixando o dia brilhar ainda mais. As partes do sol são: Cromosfera, fotosfera, Zona Radiativa, Núcloeo, 
    modos p e modos g
</p>
<img [src]="solar" width="1000" [alt]="altSolar"/>
<p> Na figura acima estar todos os planetas que estão a mostra , estão completos. Os planetas mais ´proximos do sol , é o venus e merculio,
    sempre que o m ais aquecido, e quando os planetas rotaciuonam , pára o poutro lado, é a noite 
</p>
<img [src]="diferenteSistema" width="1000" [alt]="altSistemaSolar"/>